<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="SIMU_LIGAEntities" connectionString="metadata=res:///DbEntities.csdl|res:///DbEntities.ssdl|res://*/DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.2;initial catalog=SIMU_LIGA1;user id=sa;password=Di123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
</configuration>